<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  </head>

  <body>
    <h1>登录</h1>

    <div>
      <div>用户名：<input type="text" id="username" /></div>
      <div>密码：<input type="password" id="password" /></div>
      <div>
        <button id="login">登录</button>
        <a href="/registry.html" target="_self">注册</a>
      </div>
    </div>

    <script>
      const usernameDom = document.querySelector("#username");
      const passwordDom = document.querySelector("#password");
      const loginDom = document.querySelector("#login");

      loginDom.onclick = () => {
        axios
          .post("/api/login", {
            username: usernameDom.value,
            password: passwordDom.value,
          })
          .then((res) => {
            if (res.data.ok === 1) {
              localStorage.setItem('authorization', res.headers.authorization)
              location.assign("/user_list.html");
            } else {
              alert("用户名或密码不存在");
            }
          })
          .catch(err => {
            alert('登录失败')
            console.log(err);
          });
      };
    </script>
  </body>
</html>
