<!DOCTYPE html>
<html>

<head>
  <title>添加用户</title>
</head>

<body>
  <h2>
    <%- include('logout') %>
  </h2>
  <h2>添加用户</h2>

  <div>
    <div>用户名：<input type="text" id="username"></div>
    <div>密码：<input type="password" id="password"></div>
    <div>年龄：<input type="number" id="age"></div>
    <div><button id="add">添加用户</button></div>
  </div>

  <script>
    const usernameDom = document.querySelector('#username')
    const passwordDom = document.querySelector('#password')
    const ageDom = document.querySelector('#age')
    const addUserDom = document.querySelector('#add')

    addUserDom.onclick = () => {
      fetch('/api/user', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          username: usernameDom.value,
          password: passwordDom.value,
          age: ageDom.value,
        })
      })
        .then(res => res.json())
        .then(data => {
          if (data.ok === 1) {
            location.assign('/users')
          } else if (data.ok === 401) {
            location.assign('/login')
          }
        })
    }
  </script>
</body>

</html>