<!DOCTYPE html>
<html>

<head>
  <title>登录</title>
</head>

<body>
  <h1>登录</h1>

  <div>
    <div>用户名：<input type="text" id="username"></div>
    <div>密码：<input type="password" id="password"></div>
    <div><button id="login">登录</button></div>
  </div>

  <script>
    const usernameDom = document.querySelector('#username')
    const passwordDom = document.querySelector('#password')
    const loginDom = document.querySelector('#login')

    loginDom.onclick = () => {
      fetch('/api/login', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          username: usernameDom.value,
          password: passwordDom.value,
        })
      })
        .then(res => res.json())
        .then(data => {
          if (data.ok === 1) {
            location.assign('/add')
          } else {
            confirm('用户名或密码不存在')
          }
        })
    }
  </script>
</body>

</html>